body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1);
  min-height: 100vh;
  color: #fff;
}

button {
  width: 100%;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
